{% extends 'layouts/docs_generated.html' %}

{% set active_nav = 'api' %}
{% set breadcrumb_html = '<a href="/docs/getting_started.html" class="hover:text-gray-900">Documentation</a> <i class="fa-solid fa-chevron-right text-[10px] text-gray-300 mx-2"></i> <a href="../../api-reference.html" class="hover:text-gray-900">API Reference</a> <i class="fa-solid fa-chevron-right text-[10px] text-gray-300 mx-2"></i> <a href="../index.html" class="hover:text-gray-900">preprocessing</a> <i class="fa-solid fa-chevron-right text-[10px] text-gray-300 mx-2"></i> <a href="index.html" class="hover:text-gray-900">timeseries</a> <i class="fa-solid fa-chevron-right text-[10px] text-gray-300 mx-2"></i> <span class="text-gray-900 font-semibold">__init__</span>' %}

{% block title %}__init__ - API Documentation{% endblock %}

{% block content %}
<div class="flex flex-col lg:flex-row gap-8">
<aside class="w-full lg:w-64 flex-shrink-0">
</aside>
<main class="flex-1 min-w-0">
<div class="prose max-w-none mb-10 text-gray-600 bg-white p-6 rounded-xl border border-gray-200 shadow-sm"><p class="doc-summary">Time series preprocessing module for tuiml.</p>
<div class="doc-extended">Provides transformers for time series data:
<ul class="list-disc list-inside my-3 space-y-1 pl-4">

<li class="text-gray-700">
LagTransformer: Create lagged features (WEKA TimeSeriesTranslate equivalent)
</li>

<li class="text-gray-700">
DifferenceTransformer: Create difference features (WEKA TimeSeriesDelta equivalent)
</li>

<li class="text-gray-700">
weka.filters.unsupervised.attribute.TimeSeriesTranslate -&amp;gt; LagTransformer
</li>

<li class="text-gray-700">
weka.filters.unsupervised.attribute.TimeSeriesDelta -&amp;gt; DifferenceTransformer
</li>

</ul>
Usage:     &gt;&gt;&gt; from tuiml.preprocessing.timeseries import LagTransformer, DifferenceTransformer     &gt;&gt;&gt;     &gt;&gt;&gt; # Create lagged features     &gt;&gt;&gt; lag = LagTransformer(lag=1, columns=[0, 1])     &gt;&gt;&gt; X_lagged = lag.fit_transform(X)     &gt;&gt;&gt;     &gt;&gt;&gt; # Create difference features     &gt;&gt;&gt; delta = DifferenceTransformer(lag=1, columns=[0])     &gt;&gt;&gt; X_diff = delta.fit_transform(X)</div></div>
</main>
</div>
{% endblock %}