{% extends 'layouts/docs_generated.html' %}

{% set active_nav = 'api' %}
{% set breadcrumb_html = '<a href="/docs/getting_started.html" class="hover:text-gray-900">Documentation</a> <i class="fa-solid fa-chevron-right text-[10px] text-gray-300 mx-2"></i> <a href="../api-reference.html" class="hover:text-gray-900">API Reference</a> <i class="fa-solid fa-chevron-right text-[10px] text-gray-300 mx-2"></i> <a href="index.html" class="hover:text-gray-900">algorithms</a> <i class="fa-solid fa-chevron-right text-[10px] text-gray-300 mx-2"></i> <span class="text-gray-900 font-semibold">__init__</span>' %}

{% block title %}__init__ - API Documentation{% endblock %}

{% block content %}
<div class="flex flex-col lg:flex-row gap-8">
<aside class="w-full lg:w-64 flex-shrink-0">
</aside>
<main class="flex-1 min-w-0">
<div class="prose max-w-none mb-10 text-gray-600 bg-white p-6 rounded-xl border border-gray-200 shadow-sm"><p class="doc-summary">Machine Learning Algorithms.</p>
<div class="doc-extended">Organized by algorithm family:
<ul class="list-disc list-inside my-3 space-y-1 pl-4">

<li class="text-gray-700">
bayesian: Probabilistic models (NaiveBayesClassifier, BayesianNetworkClassifier, GaussianProcessesRegressor)
</li>

<li class="text-gray-700">
trees: Decision trees and forests (C45TreeClassifier, RandomForestClassifier, M5ModelTreeRegressor)
</li>

<li class="text-gray-700">
neighbors: Instance-based learning (KNearestNeighborsClassifier, KStarClassifier, LocallyWeightedLearningRegressor)
</li>

<li class="text-gray-700">
linear: Linear models (LogisticRegression, LinearRegression, SGDClassifier)
</li>

<li class="text-gray-700">
svm: Support Vector Machines (SMO, SMOreg)
</li>

<li class="text-gray-700">
neural: Neural networks (MultilayerPerceptronClassifier)
</li>

<li class="text-gray-700">
rules: Rule-based classifiers/regressors (ZeroRuleClassifier, OneRuleClassifier, RIPPERClassifier, PARTClassifier, M5ModelRulesRegressor)
</li>

<li class="text-gray-700">
ensemble: WEKA-style meta-learners (BaggingClassifier, AdaBoostClassifier, StackingClassifier, VotingClassifier)
</li>

<li class="text-gray-700">
gradient_boosting: External frameworks (XGBoostClassifier, CatBoostClassifier, LightGBMClassifier)
</li>

<li class="text-gray-700">
clustering: Clustering algorithms (KMeansClusterer, DBSCANClusterer, AgglomerativeClusterer, GaussianMixtureClusterer)
</li>

<li class="text-gray-700">
associations: Association rule mining (AprioriAssociator, FPGrowthAssociator)
</li>

<li class="text-gray-700">
anomaly: Anomaly detection (IsolationForestDetector, LocalOutlierFactorDetector, EllipticEnvelopeDetector)
</li>

<li class="text-gray-700">
timeseries: Time series analysis (ARIMA, ExponentialSmoothing, STLDecomposition)
</li>

</ul>
</div></div>
</main>
</div>
{% endblock %}